{% extends "::base.html.twig" %}

{% block title %}LCCMainBundle:partida:mostrar{% endblock %}

{% block page_sub_header %}Partidas{% endblock %}

{% block body %}

    <form id="frmBuscarPartida" class="form-inline" method="post" action="{{ path('lcc_partida_buscar') }}">
        <div class="form-group">
            <label class="sr-only" for="cmbSucursal">Sucursal</label>
            <select name="cmbSucursal" class="form-control chosen" id="cmbSucursal" style="width: 300px;">
                <option val="">Seleccione una sucursal</option>
                {% for sucursal in data.sucursales %}
                    <option value="{{sucursal.id}}">{{sucursal.nombre}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only" for="txtPartidaFecha">Fecha</label>
            <input type="text" class="form-control" name="txtPartidaFecha" id="txtPartidaFecha" placeholder="Fecha">
        </div>
        <button type="submit" class="btn btn-default">Búscar</button>
    </form>
    <div id="resultado" class="row" style="padding: 5px;"></div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function procesarBusquedaPartida(e)
        {
            e.preventDefault();
            $.post("{{ path('lcc_partida_buscar') }}", $("#frmBuscarPartida").serialize(), function (data) {
                $("#resultado").html(data);
            }, 'html');
        }

        $(function () {
            $("#txtPartidaFecha").datepicker({changeMonth: true, changeYear: true, dateFormat: 'yy-mm-dd'});
            $("#frmBuscarPartida").submit(procesarBusquedaPartida);
        });
    </script>
{% endblock %}
