<div class="row">
    Reporte desde <input type="date" value="{{data.fechaInicial}}" /> hasta <input type="date" value="{{data.fechaFinal}}" /> <button>Filtrar</button>
</div>
{% block javascripts %}
{% endblock %}
